github "serialboxpub/r2-shared-swift" "feature/v1_4_3_customized"
github "prisso/Minizip" == 1.4.0
github "prisso/Fuzi" == 3.1.3
github "krzyzanowskim/CryptoSwift" == 1.3.8
github "edrlab/GCDWebServer" == 3.7.5
